@import url('https://fonts.googleapis.com/css2?family=Gantari:ital,wght@0,100..900;1,100..900&family=Geologica:wght@100..900&display=swap');
@import "tailwindcss";


:root {
  --background: #E9EBDB;
  --foreground: #171717;
  --clr-gris-clair: #272727;
  --clr-rouge-fonce: #882626;
  --gris-clair: #727272;
  --rouge-fonce: #882626;
  --rouge-hover: #ff0000;
  --light: white;
  --dark:black;
  --lightNote: white;
  --textlightNote:oklch(55.1% 0.027 264.364);

  --font-family: "Gantari", Arial, Helvetica, sans-serif;
  --font-gantari: 'Gantari', sans-serif;
  --font-geologica: 'Geologica', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-gantari);
  --font-mono: var(--font-geist-mono);
  
  --color-primary: var(--rouge-fonce);
  --color-primary-hover: var(--rouge-hover);
  --color-rouge-hover: var(--rouge-hover);
  --color-element: var(--gris-clair);
  
  --font-geo: var(--font-geologica);
  --font-gant: var(--font-gantari);

  --color-clrprincipal:var(--dark);
  --color-clrsecondaire:var(--light);
  --color-fondcardNote:var(--lightNote);
  --color-textcardNote:var(--textlightNote);
}


/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --light: black;
    --dark:white;
    --motif-opacity: 0.01;
    --lightNote: #1e1e1e;
    --textlightNote: white;
  }
}   */


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-gant);
  position: relative;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: var(--motif-opacity);
  pointer-events: none;
  z-index: -1;
}
