@import "tailwindcss";

:root {
  --background: #E9EBDB;
  --foreground: #171717;
  --clr-rouge-fonce: #882626;

  --font-family: "Gantari", Arial, Helvetica, sans-serif;
  --font-family-title: "Geologica", Arial, Helvetica, sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-gantari);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--clr-rouge-fonce);
  --font-gantari: var(--font-gantari);
  --font-geologica: var(--font-geologica);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-family);
}

@media (min-width: 1024px) {
  body {
    background: #D8D8D8;
  }
}